@use "sass:math";

$sizes: (
  xs: 780px,
  sm: 1024px,
  md: 1280px,
  lg: 1440px,
  xl: 1920px,
  xxl: 2560px,
);
$display-utilities: (
  block: block,
  inline: inline,
  flex: flex,
  inline-flex: inline-flex,
  inline-block: inline-block,
);

$text-align-utilities: (
  left: left,
  center: center,
  right: right,
  justify: justify,
  start: start,
  end: end,
);

$flex-direction-utilities: (
  row: row,
  row-reverse: row-reverse,
  column: column,
  column-reverse: column-reverse,
);

$align-items-utilities: (
  start: flex-start,
  end: flex-end,
  center: center,
  baseline: baseline,
  stretch: stretch,
);

$justify-content-utilities: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around,
  evenly: space-evenly,
);

$columns: 12;
$column-width: math.div(100%, $columns);

.hide {
  display: none;
}

@each $utility, $value in $display-utilities {
  .#{$utility} {
    display: $value;
  }
}
@each $utility, $value in $text-align-utilities {
  .text-#{$utility} {
    text-align: $value;
  }
}
@each $utility, $value in $flex-direction-utilities {
  .flex-#{$utility} {
    flex-direction: $value;
  }
}
@each $utility, $value in $align-items-utilities {
  .ai-#{$utility} {
    align-items: $value;
  }
}
@each $utility, $value in $justify-content-utilities {
  .jc-#{$utility} {
    justify-content: $value;
  }
}

@each $size, $sizeValue in $sizes {
  @media screen and (min-width: $sizeValue) {
    .hide-#{$size} {
      display: none;
    }
    @each $utility, $value in $display-utilities {
      .#{$utility}-#{$size} {
        display: $value;
      }
    }
    @each $utility, $value in $text-align-utilities {
      .text-#{$utility}-#{$size} {
        text-align: $value;
      }
    }
    @each $utility, $value in $flex-direction-utilities {
      .flex-#{$utility}-#{$size} {
        flex-direction: $value;
      }
    }
    @each $utility, $value in $align-items-utilities {
      .ai-#{$utility}-#{$size} {
        align-items: $value;
      }
    }
    @each $utility, $value in $justify-content-utilities {
      .jc-#{$utility}-#{$size} {
        justify-content: $value;
      }
    }

    @for $i from 1 through $columns {
      .cell-#{$size}-#{$i} {
        flex-basis: ($column-width * $i);
        max-width: ($column-width * $i);
      }
    }
  }

  @if $size != xs {
    @media screen and (max-width: $sizeValue) {
      .show-#{$size} {
        display: none;
      }
    }
  }
}

.reset-spaces {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  li,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
    padding: 0;
  }
}
